@model group_project.Models.HoroscopeInfo

<div class="horoscope-details">
    <div class="horoscope-details-card">
        <h1 class="horoscope-details-title">@Model.SignName</h1>

        <img src="@Model.ImagePath" alt="@Model.SignName" class="horoscope-details-image" />

        <p class="horoscope-details-text">
            @Model.HoroscopeText
        </p>

        <a asp-controller="Home" asp-action="Horoscope" class="horoscope-details-button">
            Назад до гороскопів
        </a>
    </div>
</div>